<?xml version="1.0" encoding="utf-8"?>
<root name="EMG">
	<menu name="監査" memo="" >
    <menu name="監査ページ" memo="" mode="url" value="http://kansa.in.eandm.co.jp/Project"/>
    <menu name="監査ページ(NEW)" memo="" mode="url" value="/WebApi/project/_home/manageMenu.html"/>
  </menu>

  <menu name="_Test-Dialog" memo="" >
    <menu name="editGroup" memo="" mode="url" value="/WebApi/project/_Test/Dialog/editGroup.html"/>
    <menu name="dialog" memo="" mode="url" value="/WebApi/project/_Test/Dialog/dialog.html"/>
    <menu name="dialog1" memo="" mode="url" value="/WebApi/project/_Test/Dialog/dialog1.html"/>
    <menu name="test" memo="" mode="url" value="/WebApi/project/_Test/Dialog/test.html"/>
  </menu>

	<menu name="_Test" memo="" >
    <menu name="History" memo="" mode="url" value="/WebApi/project/_Test/History/History.html"/>
    <menu name="QOSMIO" memo="" mode="url" value="/WebApi/project/_Test/QOSMIO/qosmio.html"/>
    <menu name="TEST2(html)" memo="" mode="url" value="/WebApi/project/_Test/TEST/test.html"/>
  </menu>
  <menu name="TEST" memo="" >
    <menu name="要員一覧" memo="" mode="url" value="/WebApi/project/_home/要員情報/要員一覧.html"/>
  </menu>

  <menu name="__home" memo="" >
    <menu name="viewJson" memo="" mode="url" value="/WebApi/project/__home/Util/viewJson/viewJson.html"/>
    <menu name="viewXML" memo="" mode="url" value="/WebApi/project/__home/Util/viewXML/viewXML_Main.html"/>
  </menu>

  <menu name="Method_XML" memo="" >
  </menu>
  <menu name="Method_JSON" memo="" >
  </menu>

</root>


