<?xml version="1.0" encoding="utf-8"?>
<root name="EMG">
	<menu name="監査" memo="" >
		<menu name="監査ページ" memo="" mode="url" value="/WebApi/project/_home/manageMenu.html"/>
	</menu>

	<menu name="__home" memo="" >
		<menu name="viewJson" memo="" mode="url" value="/WebApi/project/__home/Util/viewJson/viewJson.html"/>
	</menu>

	<menu name="_Func" memo="" >
		<menu name="TEST2(html)" memo="" mode="url" value="/WebApi/project/_Func/TEST/test1.html"/>
		<menu name="QOSMIO" memo="" mode="url" value="/WebApi/project/_Func/QOSMIO/qosmio.html"/>
	</menu>
  <menu name="TEST" memo="" >
		<menu name="要員一覧" memo="" mode="url" value="/WebApi/project/_home/要員情報/要員一覧.html"/>
  </menu>
</root>


