.table .yosoku {
	background-color:lightgray;
	color: blue;
	text-align: right;
	FONT-FAMILY: "Arial";
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	WHITE-SPACE: nowrap;
	border: 1px gray solid;
}
.table .num {
	text-align: right;
	FONT-FAMILY: "Arial";
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	WHITE-SPACE: nowrap;
	border: 1px gray solid;
	BACKGROUND-COLOR:snow;
}
.table .emg_mark {
	text-align: center;
	FONT-SIZE: x-small;
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
}
.table .sub_line {
	text-align: center;
	background-color: lavender;
}
.table .sub_title {
	text-align: center;
	background-color: lavender;
}
.table TH {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	border: 1px gray solid;
}
.table TD {
	FONT-FAMILY: "Arial";
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	WHITE-SPACE: nowrap;
	border: 1px gray solid;
}
.table {
	FONT-SIZE: small;
	BACKGROUND-COLOR: snow;
	border-collapse:collapse;
	}
.month {
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: lavender;
	TEXT-ALIGN: center;
	}
