.table {
	border-collapse: collapse;
	FONT-SIZE: small;
	BACKGROUND-COLOR: snow
}

.table th {
	border-collapse: collapse;
	border: 1px;
	border-style: solid;
	border-color: lightgray;
	}
.table td {
	border-collapse: collapse;
	border: 1px;
	border-style: solid;
	border-color: lightblue;
	}
TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
	}
TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; WHITE-SPACE: nowrap;
	}
.mounth {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: lavender; TEXT-ALIGN: center
	}
.m {
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: snow;
	TEXT-ALIGN: center
}
.head td.userType {
	text-align:left;
	vertical-align: middle;
	color: green;
}
.body td.userType {
	vertical-align: top;
	color: blue;
}
.memberCount {
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: snow;
	TEXT-ALIGN: center
}
.memberMark {
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: snow;
	TEXT-ALIGN: center
}

