/* 
    Document   : blue.css
    Created on : Jun 11, 2013, 11:57:35 AM
    Author     : Marc Nuri <marc@marcnuri.com>
    Description:
       Stylesheet for mnmenu examples
*/
body {
    background: snow;
}
ul.bluemenu { /* Top バー */
    *color: #ffffff; /* 全部の文字色 */
    background: transparent;
    white-space:nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    /*border-radius: 5px 5px 0 0;*/
    /*-moz-border-radius: 5px 5px 0 0;*/
    /*-webkit-border-radius: 5px 5px 0 0;*/
    /*border-bottom: 2px solid #0fa1e0;*/
    /*
    background: #141414;
*/
    /*
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%;
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
*/
}
    ul.bluemenu li.level-0 { /* Topの箱  */
        background: cornflowerblue;
        border-radius: 0px;
        position: relative;
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
        /*line-height: 48px;*/
        /*min-height: 50px;*/
        /*height: 30px;*/
        /*_height: 30px;*/
        height: 100%;
        *font-family: Helvetica, Arial, Verdana, sans-serif;
        font-family: inherit;
        font-size: 14px;
        padding: 0 20px;
    }
        ul.bluemenu li.level-0.hover { /* Top　選択状態 */
            background: royalblue;

            box-shadow: inset 0 0 5px white;
            -moz-box-shadow: inset 0 0 5px white;
            -webkit-box-shadow: inset 0 0 5px white;

            /*
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%;
            background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
            background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
            background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
            background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
            background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
*/
        }
/* top メニュー*/
    ul.bluemenu > li.level-0.first {
        border-radius: 5px 0px 0px 5px;
        /*-moz-border-radius: 5px 0px 0 0;*/
        /*-webkit-border-radius: 5px 0px 0 0;*/
    }
    ul.bluemenu > li.level-0.middle {
        border-radius: 0px;
        /*-moz-border-radius: 5px 0px 0 0;*/
        /*-webkit-border-radius: 5px 0px 0 0;*/
    }
    ul.bluemenu > li.level-0.last {
        border-radius: 0px 5px 5px 0px;
        /*-moz-border-radius: 5px 0px 0 0;*/
        /*-webkit-border-radius: 5px 0px 0 0;*/
    }

    ul.bluemenu li.level-0 ul { /* サブメニュー */
        background: cornflowerblue;
        text-align: left;

        border-radius: 5px;
        position: absolute;
        display: none;
        margin: 0;
        padding: 0;
        width: 10em;
    }
    ul.bluemenu li.level-0 li { /* サブメニューカーソルオン */
        border-radius: 5px;
        position: relative;
        filter: none;
        *font-size: 11px;
        display: block;
        line-height: 50%;
        padding: 10px;
        /*border-bottom: 1px dotted cornflowerblue;*/
        /*border-bottom: 2px dotted white; /* 境界線 */ */
    }
    ul.bluemenu > li.level-0 > span.arrow { /* 大矢印の「≫」色 */
        color: transparent;
        display: none;
    }
        ul.bluemenu > li.level-0 > span.arrow.hover {
            border-bottom: 10px solid;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom-color: red; /* 大矢印の背景色 */

            margin-left: -10px;
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            bottom: 0;
        }
        /* サブメニューの矢印*/
        ul.bluemenu li.level-0 li span.arrow,
        ul.bluemenu li.level-0 li span.arrow.hover {
            position: absolute;
            display: block;
            font-size: 110%;
            top: 10px;
            right: 7px;
            left: auto;
            bottom: auto;
            margin: 0;
            width: auto;
            border: none;
        }

    ul.bluemenu li.level-0 li.first { /* サブメニュー[上] */
        *display: none;
        border-bottom: none;
    }

    ul.bluemenu li.level-0 li.middle { /* サブメニュー[中間] */
        *display: none;
        border-bottom: none;
    }

    ul.bluemenu li.level-0 li.last { /* サブメニュー[下] */
        *display: none;
        border-bottom: none;
    }

    ul.bluemenu li.level-0 li.hover { /* サブメニュー選択状態時 */
        *background: royalblue;
    }


