<?xml version="1.0" encoding="utf-8"?>
<root name="EMG">
	<menu name="_Test" memo="debug" >
    <menu name="test***" memo="" mode="url" url="/WebApi/project/_Test/excel_test/test1.html"/>
    <menu name="test***" memo="" mode="url" url="/WebApi/project/_Test/excel_test/test2.html"/>
  </menu>

	<menu name="監査ページ(NEW)" memo="" mode="url" url="/WebApi/project/_home/Menu.asp"/>

    <menu name="_home" memo="" >
		<menu name="projectCostProc" memo="" >
			<menu name="JoinProject" memo="" mode="url" url="/WebApi/project/_home/projectCostProc/JoinProject.html"/>
		</menu>
		<menu name="projectBBS" memo="" >
			<menu name="projectBBS" memo="" mode="url" url="/WebApi/project/_home/projectBBS/bbsMain.html"/>
		</menu>
		<menu name="-------------" memo="" />
		<menu name="部門収支" memo="" >
	        <menu name="EMG収支計画" memo="" mode="url" url="/WebApi/project/_home/部門収支/EMG収支計画.html"/>
	        <menu name="統括収支計画" memo="" mode="url" url="/WebApi/project/_home/部門収支/統括収支計画.html"/>
            <menu name="部門収支計画" memo="" mode="url" url="/WebApi/project/_home/部門収支/部門収支計画.html"/>
			<menu name="グループ収支計画" memo="" mode="url" url="/WebApi/project/_home/部門収支/グループ収支計画.html"/>
		</menu>
		<menu name="-------------" memo="" />
		<menu name="売上予測" memo="" >
			<menu name="売上目標_部門" memo="" mode="url" url="/WebApi/project/_home/売上予測/売上目標_部門.html"/>
			<menu name="売上予実_部門" memo="" mode="url" url="/WebApi/project/_home/売上予測/売上予実_部門.html"/>
			<menu name="売上予実_新規" memo="" mode="url" url="/WebApi/project/_home/売上予測/売上予実_新規.html"/>
			<menu name="売上予実_新規2" memo="" mode="url" url="/WebApi/project/_home/売上予測/売上予実_新規2.html"/>
			<menu name="売上予実_分類" memo="" mode="url" url="/WebApi/project/_home/売上予測/売上予実_分類.html"/>
			<menu name="グループ予実_部門" memo="" mode="url" url="/WebApi/project/_home/売上予測/グループ予実_部門.html"/>
			<menu name="グループ予実_分類" memo="" mode="url" url="/WebApi/project/_home/売上予測/グループ予実_分類.html"/>
		</menu>
	</menu>

  
  <menu name="テーブル(XML)" memo="" >
  </menu>
	<menu name="テーブル(JSON)" memo="" >
	</menu>
	<menu name="テーブル(sample)" memo="" >
	</menu>
	<menu name="関数" memo="debug" display="none">
		<menu name="関数(TEST_XML)" >
		</menu>
		<menu name="関数(TEST_JSON)">
		</menu>
	</menu>


  <!--<menu name="_Test" memo="debug" display="none">
	  <menu name="_Test/test.html" memo="" mode="url" url="/WebApi/project/_Test/_Test/test.html"/>
	  <menu name="xml/test.html" memo="" mode="url" url="/WebApi/project/_Test/xml/test.html"/>
	  <menu name="debug/test.html" memo="" mode="url" url="/WebApi/project/__menu/debug/test.html"/>
	  <menu name="_Test" memo="debug" >
		<menu name="projectList" memo="" mode="url" url="/WebApi/project/_Test/_Test/projectList/test.html"/>
	  　<menu name="TEST2(html)" memo="" mode="url" url="/WebApi/project/_Test/_Test/test.html"/>
		<menu name="test.asp" memo="" mode="url" url="/WebApi/project/_Test/_test/test.asp?ABC=123"/>
	  </menu>
	<menu name="_Test/Dialog" memo="debug">
      <menu name="editGroup" memo="" mode="url" url="/WebApi/project/_Test/Dialog/editGroup.html"/>
      <menu name="dialog" memo="" mode="url" url="/WebApi/project/_Test/Dialog/dialog.html"/>
      <menu name="dialog1" memo="" mode="url" url="/WebApi/project/_Test/Dialog/dialog1.html"/>
	</menu>

    <menu name="History" >
	  <menu name="History" memo="" mode="url" url="/WebApi/project/_Test/History/History.html"/>
	</menu>
	<menu name="QOSMIO">
		<menu name="QOSMIO" memo="" mode="url" url="/WebApi/project/_Test/QOSMIO/qosmio.html"/>
	</menu>
  </menu>-->

  <!--
	<menu name="_home" memo="" >
		<menu name="要員一覧" memo="" mode="url" url="/WebApi/project/_home/要員情報/要員一覧.html"/>
	</menu>
-->
  <!--<menu name="__menu" memo="" >
        <menu name="viewJson" memo="" mode="url" url="/WebApi/project/__menu/Util/viewJson/viewJson.html"/>
        <menu name="viewXML" memo="" mode="url" url="/WebApi/project/__menu/Util/viewXML/viewXML_Main.html"/>
    </menu>


  <menu name="機能1" memo="" >
    <menu name="機能2-1" memo="" mode="url" url="/WebApi/project/__menu/Util/viewJson/viewJson.html"/>
    <menu name="機能2-2" memo="" mode="url" url="/WebApi/project/__menu/Util/viewXML/viewXML_Main.html"/>
    <menu name="機能2" memo="" >
      <menu name="viewJson" memo="" mode="url" url="/WebApi/project/__menu/Util/viewJson/viewJson.html"/>
      <menu name="viewXML" memo="" mode="url" url="/WebApi/project/__menu/Util/viewXML/viewXML_Main.html"/>
      <menu name="機能3" memo="" >
        <menu name="viewJson" memo="" mode="url" url="/WebApi/project/__menu/Util/viewJson/viewJson.html"/>
        <menu name="viewXML" memo="" mode="url" url="/WebApi/project/__menu/Util/viewXML/viewXML_Main.html"/>
      </menu>
    </menu>
  </menu>-->



</root>


