<?xml version="1.0" encoding="utf-8"?>
<root name="EMG">
	<menu name="TEST" memo="" >
    <menu name="projectBBS" memo="" mode="url" value="/WebApi/project/_Func/projectBBS/test.html"/>
    <menu name="QOSMIO" memo="" mode="url" value="/WebApi/project/_Func/QOSMIO/qosmio.html"/>
  </menu>
</root>


